* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

body {
  margin: 0 auto;
  background-image: url("images/cover-board.jpg");
}

main {
  background-image: url('images/paperedit.jpg');
  width: 80%;
  margin: 0 auto;
  height: 100vh;
  padding-top: 50px;
  text-align: center;
}

.word-wrapper {
  padding: 10% 0 2%;
}

.letter {
  height:100px;
  width:100px;
  margin: 5px;
  box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.2);
}

.space {
  display: block;
  opacity: 0;
  width: 5px;
  height: 5px;
}

.letter:nth-child(odd) {
  transform: rotate(3deg);
}

.letter:nth-child(even) {
  transform: rotate(-1deg);
}

.letter:nth-child(3n) {
  transform: rotate(2deg);
}

/********** MOBILE STYLES **********/

@media screen and (max-width: 950px){
  .letter {
    width: 70px;
    height: 70px;
  }
  .space {
    height: 5px;
  }
}

@media screen and (max-width: 600px){
  .letter {
    width: 50px;
    height: 50px;
  }
  .space {
    height: 5px;
  }
}

@media screen and (max-width: 400px){
  main {
    width: 90%;
  }
  .letter {
    width: 40px;
    height: 40px;
  }
  .space {
    height: 5px;
  }
}
