* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

a {
  text-decoration: none;
}

body {
  margin: 0 auto;
  background-image: url("images/cover-board.jpg");
}

nav {
  position: fixed;
  margin: 0 auto;
  width: 100%;
  color: white;
  text-align: center;
  background-color: rgba(0,0,0,0.5);
  padding: 10px;
  font-size: 24px;
}

nav a {
  color: #ececec;
}
main {
  margin: 0 auto;
}

section {
  background-image: url('images/paperedit.jpg');
  width: 80%;
  margin: 0 auto;
  height: 100vh;
  padding-top: 5%;
  text-align: center;
  box-shadow: 0px 0px 15px 15px rgba(0,0,0,0.5);
}


.word-wrapper {
  padding: 10% 0 2%;
}

.letter {
  height:100px;
  width:100px;
  margin: 5px;
  box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.2);
}

.post-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 5%;
}

.post {
  background-image: url('images/paperedit.jpg');
  margin: 2% auto;
  width: 80%;
  padding: 5% 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
  box-shadow: -5px 5px 5px 5px rgba(0,0,0,0.5);
}

.post:hover {
  box-shadow: -5px 5px 10px 10px rgba(0,0,0,0.6);
}

.word {
  padding: 20px;
  text-align: center;
}

.word img {
  width: 60px;
  height: 60px;
}

.space {
  display: block;
  opacity: 0;
  width: 5px;
  height: 5px;
}

.letter:nth-child(odd) {
  transform: rotate(3deg);
}

.letter:nth-child(even) {
  transform: rotate(-1deg);
}

.letter:nth-child(3n) {
  transform: rotate(2deg);
}

.home-words {
  padding: 5% 0%;
}

.secondary-font {
  font-family: 'Covered By Your Grace', cursive;
  letter-spacing: 3px;
}
 a.secondary-font {
  color: #373737;
  text-decoration: none;
  font-size: 8em;
  text-transform: capitalize;
}

.notes-wrapper {
  position: relative;
  margin-top: 20%;
}

.ransom-wrapper {
  position: relative;
  margin-left: 5px;
}

.r {
  animation: mover 1s ease;
  left: 21%;
}

.a {
  animation: movea 1s ease;
  left: 7%;
}

.n {
  animation: moven 1s ease;
  left: 77%;
}

.s {
  animation: moves 1s ease;
  left: 63%;
}

.o {
  animation: moveo 1s ease;
  left: 49%;
}

.m {
 animation: movem 1s ease;
 left: 35%;
}

.l {
  left: 45%;
  animation: movel 1s ease;
}

.e {
  left: 31%;
  animation: movee 1s ease;
}

.t {
  left: 17%;
  animation: movet 1s ease;
}

.tt {
  left: 59%;
  animation: movett 1s ease;
}

.ee {
  left: 73%;
  animation: moveee 1s ease;
}

.rr {
  left: 86%;
  animation: moverr 1s ease;
}

.ss {
  left: 4%;
  animation: movess 1s ease;
}

.ransom-wrapper img, .notes-wrapper img {
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
  position: absolute;
}


@keyframes mover {
  0% {
    left: 21%;
  }
  100% {
    left: 9%;
  }
}

@keyframes movea {
  0% {
    left: 7%;
  }
  100% {
    left: 22%;
  }
}

@keyframes movem {
  0% {
    left: 35%;
  }
  100% {
    left: 75%;
  }
}

@keyframes moven {
  0% {
    left: 77%;
  }
  100% {
    left: 35%;
  }
}

@keyframes moves {
  0% {
    left: 63%;
  }
  100% {
    left: 49%;
  }
}

@keyframes moveo {
  0% {
    left: 49%;
  }
  100% {
    left: 63%;
  }
}

@keyframes movel {
  0% {
    left: 45%;
  }
  100% {
    left: 4%;
  }
}

@keyframes movee {
  0% {
    left: 31%;
  }
  100% {
    left: 59%;
  }
}

@keyframes movet {
  0% {
    left: 17%;
  }
  100% {
    left: 45%;
  }
}

@keyframes movett {
  0% {
    left: 59%;
  }
  100% {
    left: 31%;
  }
}

@keyframes moveee {
  0% {
    left: 73%;
  }
  100% {
    left: 17%;
  }
}

@keyframes moverr {
  0% {
    left: 86%;
  }
  100% {
    left: 73%;
  }
}

@keyframes movess {
  0% {
    left: 4%;
  }
  100% {
    left: 86%;
  }
}

/********** MOBILE STYLES **********/

@media screen and (max-width: 980px){
  .letter {
    width: 70px;
    height: 70px;
  }
  .space {
    height: 5px;
  }
}

@media screen and (max-width: 600px){

  main {
    width: 90%;
  }
  .letter {
    width: 50px;
    height: 50px;
  }
  .space {
    height: 5px;
  }
}

@media screen and (max-width: 400px){
  main {
    width: 90%;
  }
  .letter {
    width: 35px;
    height: 35px;
  }
  .space {
    height: 5px;
  }
}
