 /********** BASE STYLES **********/

* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

a {
  text-decoration: none;
}

body {
  margin: 0 auto;
  background-image: url("images/cover-board.jpg");
  text-transform: uppercase;
}

main {
  margin: 0 auto;
}

nav {
  position: fixed;
  margin: 0 auto;
  width: 100%;
  color: white;
  text-align: center;
  background-color: rgba(0,0,0,0.5);
  padding: 10px;
  font-size: 24px;
  z-index: 1;
}

nav a {
  color: #ececec;
}

 /********** POST AND LETTER STYLES **********/

section, .show-wrapper {
  background-image: url('images/paperedit.jpg');
  width: 80%;
  margin: 0 auto;
  height: 100vh;
  padding-top: 5%;
  text-align: center;
  box-shadow: 0px 0px 15px 15px rgba(0,0,0,0.5);
}

.show-wrapper {
  padding: 10% 0%;
  height: auto;
}

.show-page {
  padding: 5% 0%;
}

.letter {
  height: 80px;
  width: 80px;
  margin: 5px;
  box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.2);
}

.post-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 5%;
}

.post {
  background-image: url('images/paperedit.jpg');
  margin: 2vw auto;
  width: 80%;
  padding: 5vw 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
  box-shadow: -5px 5px 5px 5px rgba(0,0,0,0.5);
}

.post:hover {
  box-shadow: -5px 5px 10px 10px rgba(0,0,0,0.6);
}

.word {
  padding: 20px;
  text-align: center;
}

.word img {
  width: 60px;
  height: 60px;
}

.space {
  display: block;
  opacity: 0;
  width: 5px;
  height: 5px;
}

.letter:nth-child(odd) {
  transform: rotate(3deg);
}

.letter:nth-child(even) {
  transform: rotate(-1deg);
}

.letter:nth-child(3n) {
  transform: rotate(2deg);
}

 /********** FORM STYLES **********/

form {
  margin-top: 15%;
}

form input, button {
  display: block;
  margin: 10px auto;
  padding: 10px;
  border: 2px solid #666666;
  background-color: rgba(255,255,255,0.5);
  font-size: 18px;
  width: 250px;
  text-align: center;
}

.placeholder, input {
  color: #8c8c8c;
  text-transform: uppercase;
}

button {
  cursor: pointer;
  text-transform: uppercase;
  font-family: 'Covered By Your Grace', cursive;
  letter-spacing: 3px;
}

.secondary-font {
  font-family: 'Covered By Your Grace', cursive;
  letter-spacing: 3px;
}
 a.secondary-font, .update {
  color: #373737;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  display: block;
  margin: 20px auto;
  padding: 10px;
  background-color: rgba(255,255,255,0.5);
  width: 60%;
  box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.2);
  letter-spacing: 3px;
}

.update {
  font-family: 'Covered By Your Grace', cursive;
  font-size: 24px;
  text-transform: uppercase;
  background-color: rgba(255,255,255,0.2);
  margin: 10% auto 5%;
}

 a.secondary-font:hover, .update:hover {
   box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.3);
 }

 /********** HOME LETTERS **********/

 .home-words {
   padding: 10% 0% 15% 0%;
   max-width: 80%;
   margin: 0 auto;
 }

.notes-wrapper {
  position: relative;
  margin-top: 20%;
}

.ransom-wrapper {
  position: relative;
  margin-left: 5px;
}

.r {
  animation: mover 1s ease;
  left: 21%;
}

.a {
  animation: movea 1s ease;
  left: 7%;
}

.n {
  animation: moven 1s ease;
  left: 77%;
}

.s {
  animation: moves 1s ease;
  left: 63%;
}

.o {
  animation: moveo 1s ease;
  left: 49%;
}

.m {
 animation: movem 1s ease;
 left: 35%;
}

.l {
  left: 45%;
  animation: movel 1s ease;
}

.e {
  left: 31%;
  animation: movee 1s ease;
}

.t {
  left: 17%;
  animation: movet 1s ease;
}

.tt {
  left: 59%;
  animation: movett 1s ease;
}

.ee {
  left: 73%;
  animation: moveee 1s ease;
}

.rr {
  left: 86%;
  animation: moverr 1s ease;
}

.ss {
  left: 4%;
  animation: movess 1s ease;
}

.ransom-wrapper img, .notes-wrapper img {
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
  position: absolute;
}

/********** HOME LETTER ANIMATIONS **********/

@keyframes mover {
  0% {
    left: 21%;
  }
  100% {
    left: 9%;
  }
}

@keyframes movea {
  0% {
    left: 7%;
  }
  100% {
    left: 22%;
  }
}

@keyframes movem {
  0% {
    left: 35%;
  }
  100% {
    left: 75%;
  }
}

@keyframes moven {
  0% {
    left: 77%;
  }
  100% {
    left: 35%;
  }
}

@keyframes moves {
  0% {
    left: 63%;
  }
  100% {
    left: 49%;
  }
}

@keyframes moveo {
  0% {
    left: 49%;
  }
  100% {
    left: 63%;
  }
}

@keyframes movel {
  0% {
    left: 45%;
  }
  100% {
    left: 4%;
  }
}

@keyframes movee {
  0% {
    left: 31%;
  }
  100% {
    left: 59%;
  }
}

@keyframes movet {
  0% {
    left: 17%;
  }
  100% {
    left: 45%;
  }
}

@keyframes movett {
  0% {
    left: 59%;
  }
  100% {
    left: 31%;
  }
}

@keyframes moveee {
  0% {
    left: 73%;
  }
  100% {
    left: 17%;
  }
}

@keyframes moverr {
  0% {
    left: 86%;
  }
  100% {
    left: 73%;
  }
}

@keyframes movess {
  0% {
    left: 4%;
  }
  100% {
    left: 86%;
  }
}

/********** MOBILE STYLES **********/

@media screen and (max-width: 980px){
  section, .post, .show-wrapper {
    width: 90%;
  }
  .letter {
    width: 70px;
    height: 70px;
  }
  .space {
    height: 1px;
  }
}

@media screen and (max-width: 700px){

  .home-words {
    padding: 20% 0;
    width: 100%;
  }
  .post-wrapper, .show-page  {
    padding-top: 15%;
  }
  .word {
    padding: 5px;
  }

  .letter {
    width: 50px;
    height: 50px;
  }
  .word img {
    width: 40px;
    height: 40px;
  }
  .space {
    height: 1px;
  }
  a.secondary-font, button, .update, .secondary-font {
    font-size: 1em;
  }
}

@media screen and (max-width: 400px){
  section, .show-wrapper {
    width: 96%;
    padding-top: 15%;
  }
  .post-wrapper, .show-page {
    padding-top: 15%;
  }
  .letter, .word img {
    width: 35px;
    height: 35px;
  }
  .home-words {
    padding: 20% 0 25% 0;
    width: 100%;
  }
  .word {
    padding: 5px;
  }
  .space {
    height: 1px;
  }

}
